@media (min-width: 930px) {
  .sidebar__title {
    display: none;
  }
  .select__mobile {
    display: none;
  }
}

@media (max-width: 930px) {
  .catalog__side {
    display: none;
  }
  .catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__side {
    width: 300px;
  }
  .sidebar__title {
    border: 1px solid black;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sidebar__title p {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px auto;
  }
  .sidebar__title p img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .sidebar__title .rotate-arrow {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .noUi-target {
    width: 60%;
    margin: 25px auto 0px auto;
  }
  .product__title {
    margin-top: 15px;
  }
  .select__desktop {
    display: none;
  }
  .sort__select_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .select__mobile {
    margin-top: 30px;
    z-index: 2;
  }
}

.show-sidebar {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

.hide-title-price {
  display: none;
}

.change-label {
  width: 200px;
}

@media (max-width: 785px) {
  .change-label {
    width: 110px;
  }
  .noUi-target {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .noUi-target {
    width: 100%;
    margin: 25px auto 0px auto;
  }
}
