@media (min-width: 1024px) {
  .about__button_adp {
    display: none;
  }
}

@media (max-width: 1024px) {
  .main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px auto;
  }
  .main__images {
    width: 70%;
    margin: 0px auto;
  }
  .about__button_adp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px;
    background-color: black;
    border-radius: 5px;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  .about__button_adp_text {
    color: white;
    font-size: 16px;
    font-family: 'Semibold';
  }
  .about__button_images {
    margin-left: 25px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .about__disc_box {
    display: none;
  }
  .about__select {
    display: none;
  }
  .images__cover {
    overflow: hidden;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__text_item {
    font-size: 14px;
    line-height: 1.5;
  }
  .text__content_title {
    font-size: 14px;
  }
  .text__content_name li {
    font-size: 14px;
  }
  .text__content_number li {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .main__images {
    width: 90%;
    margin: 0px auto;
  }
}

@media (min-width: 600px) {
  .images__cover_line {
    display: none;
  }
}

@media (max-width: 600px) {
  .main__images {
    width: 100%;
    margin: 0px auto;
  }
  .main__container {
    padding: 0px;
  }
  .images__add {
    display: none;
  }
  .images__cover_desktop {
    display: none;
  }
  .images__cover_line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .images__cover__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .adp__buttons_slider {
    width: 120px;
    height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px auto;
    margin-top: -35px;
    position: relative;
  }
  .adp__button_slider {
    width: 10px;
    height: 100%;
    background-color: black;
    border-radius: 50%;
  }
  .bag__finish_buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buy_onte_click {
    margin-top: 10px;
  }
}

.show-hiden-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rotate-arrow-adp {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.new-style-button {
  background-color: #E8AA31;
}
