.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.catalog__side {
  width: 300px;
}

.catalog__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  -ms-grid-rows: (400px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 400px);
  width: 100%;
  row-gap: 15px;
}

.catalog__item {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0px 0px 0px auto;
  display: block;
  max-width: 310px;
  max-height: 400px;
}

.catalog__img {
  width: 250px;
  height: 210px;
  margin: 0px auto;
}

.catalog__img img {
  width: 250px;
  height: 210px;
}

.knife__title {
  font-size: 20px;
  line-height: 1.4;
  font-family: Semibold;
  color: #141414;
  margin-top: 15px;
}

.catalog__row__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.knife__size {
  font-size: 16px;
  line-height: 2;
  color: #ABABAB;
  font-family: Semibold;
}

.knife__options {
  font-size: 16px;
  line-height: 2;
  color: #ABABAB;
  font-family: Semibold;
}

.catalog__row__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #14141471;
  padding-bottom: 5px;
}

.knife__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.catalog__reviews {
  color: #ABABAB;
  font-size: 16px;
  line-height: 2;
}

.catalog__row__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.knife__price {
  font-size: 20px;
  line-height: 1.4;
  font-family: Semibold;
  color: #141414;
}

.knife__bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comprasion {
  margin-right: 8px;
}

.knife_button {
  background-color: #E8AA31;
  padding: 4px;
  text-align: center;
  border-radius: 3px;
  margin-top: 28px;
  display: block;
}

.knife_button span {
  font-size: 18px;
  line-height: 2.5;
  color: white;
  position: relative;
}

.knife_button span::after {
  content: "";
  display: block;
  width: 20px;
  height: 17px;
  background: url(../img/icon/bag-button.svg);
  position: absolute;
  top: 3px;
  left: 110%;
}
