.sort__menu_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.sort__menu_nav span {
  color: #E8AA31;
  font-size: 16px;
  line-height: 1.3;
  margin-left: 30px;
}

.sort__menu_link {
  font-size: 16px;
  color: #141414;
  line-height: 1.3;
  opacity: 0.5;
  position: relative;
  margin-right: 30px;
}

.sort__menu_link::after {
  background: url(../../catalog/img/sort/arrow_sort.svg) no-repeat center;
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 120%;
}

.sort__menu_link_catlog {
  font-size: 16px;
  color: #141414;
  line-height: 1.3;
  opacity: 0.5;
  position: relative;
}

.sort__menu_link_catlog::after {
  background: url(../../catalog/img/sort/arrow_sort.svg) no-repeat center;
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 107%;
}
