.main__container {
  margin-top: 30px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  height: 100%;
}

.main__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  height: 300px;
}

.images__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.images__cover {
  height: 350px;
}

.images__cover img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.images__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.images__add {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  height: 165px;
}

.images__add img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main__about {
  padding: 15px;
  background: #FEFEFE;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.about__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(20, 20, 20, 0.15);
  padding-bottom: 10px;
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__title_text {
  font-size: 24px;
  color: #141414;
}

.about__title_status {
  color: #24AD53;
  font-size: 16px;
}

.about__stars {
  margin-top: 8px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__stars img {
  width: 20px;
  height: 20px;
}

.about__stars img:not(:first-child) {
  margin-left: 8px;
}

.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_icon-one {
  width: 27px;
  height: 22px;
  margin-right: 15px;
}

.about_icon-two {
  width: 27px;
  height: 22px;
}

.about__disc {
  padding-top: 10px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.15);
}

.about__disc_box {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.about__disc_options {
  color: #141414;
}

.about__disc_options li {
  margin-bottom: 10px;
}

.about__disc_name {
  color: #14141470;
}

.about__disc_name li {
  margin-bottom: 10px;
}

.about__select {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(20, 20, 20, 0.15);
}

.about__select_name li {
  margin-bottom: 22px;
  font-size: 14px;
}

.about__select_select {
  font-size: 14px;
}

.main__select {
  width: 250px;
  border: 0.5px solid #0404044c;
  padding-left: 5px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  cursor: pointer;
}

.title__select {
  color: rgba(20, 20, 20, 0.5);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button__select {
  width: 30px;
  height: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__select_arrow {
  height: 15px;
  width: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.select__box {
  display: none;
}

.select__content {
  margin-top: 10px;
  background: #FEFEFE;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.main__select {
  margin-bottom: 8px;
}

.select__item {
  padding: 5px;
  cursor: pointer;
  width: 100%;
}

.select__item:hover {
  background-color: black;
  color: white;
}

.bag {
  padding: 10px;
}

.bag__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bag__price {
  font-size: 26px;
  line-height: 1.3;
  font-family: 'Bold';
  border: none;
  max-width: 100px;
}

.input__currency {
  margin-left: -20px;
  font-size: 26px;
  font-family: 'Bold';
}

.bag__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: rgba(20, 20, 20, 0.5);
  -ms-flex-item-align: center;
      align-self: center;
}

.bag__finish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.bag__finish_calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bag__finish_minus {
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.bag__finish_input {
  width: 40px;
  height: 40px;
}

.bag__finihs_plus {
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.bag__finish_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.in_the_bag {
  margin-right: 15px;
  font-size: 14px;
  color: white;
  background-color: #E8AA31;
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.buy_onte_click {
  font-size: 14px;
  color: white;
  background-color: black;
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.bag__finish_input {
  width: 40px;
  height: 40px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bag__bonus_image {
  background: rgba(20, 20, 20, 0.3);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Semibold';
  color: black;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}

.bag__bonus_text {
  padding-bottom: 10px;
  position: absolute;
  top: -80px;
  left: -400px;
  visibility: hidden;
}

.bag__bonus_text .bag__bonus_content {
  font-size: 12px;
  padding: 10px 8px;
  background: #FFFFFF;
  border: 1px solid #E8AA31;
  -webkit-box-shadow: 0px 4px 20px rgba(20, 20, 20, 0.1);
          box-shadow: 0px 4px 20px rgba(20, 20, 20, 0.1);
  border-radius: 2px;
  color: #141414;
}

.bag__bonus_text:hover {
  visibility: visible;
}

.show-select-box {
  display: block;
}

.rotate-arrow-select {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.show-bonus-text {
  visibility: visible;
}
