/*--FIRST-SECTION-----------------------*/
.catalog {
  background-color: white;
}

.catalog__grid {
  width: 100%;
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 28px;
          column-gap: 28px;
  row-gap: 32px;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.catalog__item {
  width: 385px;
  height: 195px;
  background: url(../img/catalog/catolog1.png) no-repeat center;
  background-size: 100% auto;
  background-color: white;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 28px 0px;
}

.catalog__item__one {
  background: url(../img/catalog/catalog2.png) no-repeat center;
  background-size: 100% auto;
}

.catalog__item__two {
  background: url(../img/catalog/catalog3.png) no-repeat center;
  background-size: 110% auto;
}

.catalog__item__three {
  background: url(../img/catalog/catalog4.png) no-repeat center;
  background-size: 110% auto;
}

.catalog__item__fhor {
  background: url(../img/catalog/catalog5.png) no-repeat;
  background-size: 100% auto;
}

.catalog__item__fight {
  background: url(../img/catalog/catalog6.png) no-repeat center;
  background-size: 110% auto;
}

.catalog__title {
  font-size: 18px;
  line-height: 1.47;
  font-family: Semibold;
  padding-left: 12px;
  max-width: 158px;
  cursor: pointer;
}

.catalog__title::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: #E8AA31;
}

.catalog__title:hover::after {
  width: 98%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.catalog__title__two {
  max-width: 273px;
}

.catalog__title__three {
  max-width: 276px;
}

.catalog__title__fhor {
  max-width: 225px;
}

.catalog__title__fight {
  max-width: 245px;
}

.catalog__title__six {
  max-width: 218px;
}

.catalog__menu {
  margin-top: 25px;
}

.catalog__link {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  position: relative;
  padding-left: 31px;
}

.catalog__link::after {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  background: url(../img/catalog/orange-ball.svg) no-repeat center;
  position: absolute;
  top: 8px;
  left: 12px;
}

/*--FIRST-SECTION-ENDs----------------------*/
