.mobile__menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  top: 0px;
  left: 0px;
  z-index: 3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mobile__menu__container {
  margin: 0px auto;
}

.mobile__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
  background-color: black;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__menu__box {
  padding: 17px;
  background-color: #E8AA31;
}

.burger__menu__mobile {
  width: 28px;
  height: 17px;
  position: relative;
}

.burger__menu__mobile span {
  width: 100%;
  height: 3px;
  display: block;
  background-color: #ffff;
  position: absolute;
  bottom: 7px;
  left: 0px;
}

.burger__menu__mobile::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #ffff;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.burger__menu__mobile::before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #ffff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.mobile__input__box {
  background-color: #EEEEEE;
  width: 100%;
  padding: 10px;
}

.mobile__input {
  width: 100%;
  margin: 0px auto;
  height: 30px;
  display: block;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
}

.mobile__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
}

.mobile__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
}

.mobile__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
}

.mobile__input::placeholder {
  font-size: 14px;
  line-height: 1.2;
}

.mobile__nav {
  position: relative;
}

.mobile__link {
  font-size: 16px;
  line-height: 1.2;
  color: white;
  padding-left: 10px;
  border-bottom: 1px solid #3D3D3D;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.drop--style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drop--style::after {
  content: "";
  display: block;
  background: url(../img/mobile-menu/arrow-mobile.svg) no-repeat center;
  width: 14px;
  height: 14px;
  margin-right: 20px;
}

.mobile__list--dropdown {
  position: absolute;
  top: 0px;
  right: -200%;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}

.mobile-back__link_style {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #3D3D3D;
  font-size: 18px;
  color: #E8AA31;
}

.mobile-back__link_style::before {
  content: "";
  display: block;
  background: url(../img/mobile-menu/arrow-mobile.svg) no-repeat center;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 10px;
}

.dropdown-submenu__list-item {
  border-bottom: 1px solid #3D3D3D;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dropdown-submenu__list-item a {
  font-size: 16px;
  line-height: 1.2;
  color: white;
  padding-left: 10px;
}

.drop-dropdown__link {
  font-size: 16px;
  line-height: 1.2;
  color: white;
  padding-left: 10px;
}

.back {
  font-size: 18px;
  color: #E8AA31;
}

.mobile__list--drop-dropdown {
  position: absolute;
  right: -300%;
  top: 0%;
  background-color: black;
  height: 100%;
  width: 100%;
}

.drop-dropdown__link {
  font-size: 16px;
  line-height: 1.2;
  color: white;
  padding-left: 10px;
  border-bottom: 1px solid #3D3D3D;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.drop-drop-back__link {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #3D3D3D;
  color: #3D3D3D;
}

.drop-drop-back__link::before {
  content: "";
  display: block;
  background: url(../img/mobile-menu/arrow-mobile.svg) no-repeat center;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 10px;
}

.open-mobile-menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobile__nav-tranformation {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.dropdown-tranformation {
  position: absolute;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100%;
}

.drop-dropdown-tranformation {
  right: 100%;
  top: -100%;
}

.lock {
  overflow: hidden;
}

.back a {
  color: #E8AA31;
  font-size: 18px;
}
