@media (min-width: 1190px) {
  .bag__content_list_mobile {
    display: none;
  }
}

@media (max-width: 1190px) {
  .bag__tex {
    position: relative;
  }
  .bag__content {
    width: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: -840%;
    z-index: 5;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: visibility 0.3s, opacity 0.3s;
    transition: visibility 0.3s, opacity 0.3s;
  }
  .bag__content_list_desktop {
    display: none;
  }
  .bag__content_list_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 860px) {
  .bag__content {
    width: 300px;
  }
  .bag__content_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .bag__content {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: -500%;
    z-index: 5;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: visibility 0.3s, opacity 0.3s;
    transition: visibility 0.3s, opacity 0.3s;
  }
}

@media (max-width: 500px) {
  .bag__content {
    width: 250px;
  }
}

@media (max-width: 1340px) {
  .order__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1113px) {
  .order__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order__input {
    margin-top: 10px;
    width: 70%;
  }
  .order__modal_content {
    width: 60%;
  }
}

@media (max-width: 758px) {
  .order__modal_content {
    width: 90%;
  }
}

@media (max-width: 481px) {
  .order__modal_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order__modal_info-item {
    font-size: 16px;
  }
  .order__modal_title_knife {
    font-size: 14px;
  }
  .order__modal__delete {
    border: none;
    background-color: #ECF1F2;
    color: rgba(0, 0, 0, 0.712);
    margin-right: 0px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: auto;
    font-size: 12px;
  }
}
