.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.734);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
}

.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.order__modal_content {
  background-color: #ECF1F2;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
}

.order__modal_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
}

.order__modal_info {
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
}

.order__modal_info-item {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Semibold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__modal_info-item span {
  color: #E8AA31;
  font-family: 'Semibold';
  margin-left: 10px;
}

.order__modal_form {
  margin-top: 20px;
}

.order__modal_form span {
  width: 200px;
}

.order__modal_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__modal_products img {
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.order__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__input {
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.319);
  border-radius: 3px;
  width: 50%;
}

.order__button {
  border: none;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  font-size: 20px;
}

.order__modal__list {
  display: none;
  overflow: auto;
  max-height: 300px;
}

.show-order-product {
  display: block;
}

.order__modal_products.show-order-product img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.order__modal_item {
  border: 1px solid rgba(0, 0, 0, 0.313);
  padding: 10px;
  margin-bottom: 20px;
}

.order__modal_item img {
  width: 120px;
  height: 80px;
  border-radius: 3px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__modal_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__modal_text {
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: auto;
}

.order__modal_text span {
  margin-top: 10px;
  font-size: 18px;
}

.order__modal__delete {
  border: none;
  background-color: #ECF1F2;
  color: rgba(0, 0, 0, 0.712);
  margin-right: 0px;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: auto;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}
