.popup {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  z-index: 5;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.892);
}

.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup__box {
  max-width: 1000px;
  height: 800px;
  overflow: hidden;
}

.popup__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.popup__item:not(:first-child) {
  margin-left: 15px;
}

.popup__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup__prev {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 0px;
  background: url(../../catalog/img/sort/golden-arrow.svg) no-repeat center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-size: 100%;
}

.img_prev {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.popup__next {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  right: 0px;
  background: url(../../catalog/img/sort/golden-arrow.svg) no-repeat center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-size: 100%;
}

.img_next {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  padding: 20px;
  background: url(../../catalog/img/sort/close.svg) no-repeat center;
  background-size: 80%;
}

.open-popup {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lock-body {
  overflow: hidden;
}
