.slider__text_container {
  margin-top: 100px;
  background: #FEFEFE;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.slider__text_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(20, 20, 20, 0.15);
}

.slider__text_button {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.slider__text_button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #E8AA31;
  position: absolute;
  bottom: 0px;
}

.slider__text_box {
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding-top: 30px;
}

.slider__text_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__text_item {
  font-size: 16px;
  line-height: 1.5;
  color: #141414;
  width: 100%;
}

.slider__text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__content_one {
  border-right: rgba(20, 20, 20, 0.15) 1px solid;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.text__content_title {
  font-size: 18px;
  color: #141414;
  font-family: 'Bold';
}

.text__content_row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
}

.text__content_row-list_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
}

.text__content_name {
  margin-top: 10px;
}

.text__content_name li {
  font-size: 16px;
  margin-top: 5px;
}

.text__content_number {
  margin-top: 10px;
}

.text__content_number li {
  font-size: 16px;
  margin-top: 5px;
}

.comments__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first__comment_box {
  border-bottom: 1px solid rgba(20, 20, 20, 0.15);
}

.comment {
  max-width: 700px;
  margin-left: 100px;
  position: relative;
  padding-bottom: 20px;
}

.first__comment::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background: url(../../product/img/icon/comment1.svg) no-repeat center;
  position: absolute;
  top: -10px;
  left: -100px;
}

.second__comment::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background: url(../../product/img/icon/comment2.svg) no-repeat center;
  position: absolute;
  top: -10px;
  left: -100px;
}

.comment__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment__name {
  font-family: 'Bold';
}

.comment__data {
  font-size: 12px;
  color: rgba(20, 20, 20, 0.4);
}

.comment__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.comment__stars img {
  margin-right: 12px;
}

.comment__text {
  font-size: 14px;
  line-height: 1.5;
  color: #141414;
  font-family: 'Semibold';
  margin-top: 15px;
}

.comment__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__answer {
  color: #E8AA31;
  font-family: 'Semibold';
}

.show-after:after {
  width: 100%;
}

.hide {
  display: none;
}
