/*-PREPERATION----------------------------*/
@font-face {
  font-family: Bold;
  src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: Semibold;
  src: url(../fonts/Montserrat-SemiBold.woff2);
}

@font-face {
  font-family: Medium;
  src: url(../fonts/Montserrat-Medium.woff2);
}

body {
  font-family: Medium;
}
