@media(max-width:1426px) {
	.forest__item:nth-child(2n) {
		display: none;
	}

	.forest__item {
		flex: 0 1 49%;
	}

	.forest__row {
		flex-direction: column;
	}

	.forest__box {
		margin: 20px auto 0px auto;
	}

	.forest__text {
		margin: 0px auto;
		text-align: center;
	}

	.forest__link {
		margin-top: 20px;
		margin: 0px auto;
	}

	.forest__item {}

	.forest__text {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media(max-width:1273px) {
	.stock__item:nth-child(2n) {
		display: none;
	}

	.slider__items {
		display: flex;
		justify-content: center;
	}

	.stock__item {
		flex: 0 1 49%;
	}

	.hite__item:nth-child(2n) {
		display: none;
	}

	.hite__items {
		display: flex;
		justify-content: center;
	}
}

@media(max-width:693px) {
	.stock__item:nth-child(3n) {
		display: none;
	}

	.hite__item:nth-child(3n) {
		display: none;
	}

	.forest__item {
		margin: 0px auto;
	}

	.forest__items {
		justify-content: center;
	}

	.forest__item {
		flex: 0 1 95%;
	}

	.forest__item:nth-child(3n) {
		display: none;
	}

	.stock__item {
		flex: 0 1 95%;
	}

	.forest__container {
		width: 100%;
		margin: 0px;
	}

	.catalog__grid {
		colum-gap: 0px;
	}

	.catalog__container {
		padding: 0px;
	}

	.stock__title {
		flex-direction: column;
	}
}