.mobile__menu {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	top: 0px;
	left: 0px;
	z-index: 3;
	transform: translateX(100%);
}

.mobile__menu__container {
	margin: 0px auto;
}

.mobile__row {
	display: flex;
	justify-content: space-between;
	padding-right: 15px;
	background-color: black;
	height: 50px;
	align-items: center;
}

.burger__menu__box {
	padding: 17px;
	background-color: #E8AA31;
}

.burger__menu__mobile {
	width: 28px;
	height: 17px;
	position: relative;

	span {
		width: 100%;
		height: 3px;
		display: block;
		background-color: #ffff;
		position: absolute;
		bottom: 7px;
		left: 0px;
	}

	&::after {
		content: "";
		width: 100%;
		height: 3px;
		display: block;
		background-color: #ffff;
		position: absolute;
		bottom: 0px;
		left: 0px;
	}

	&::before {
		content: "";
		width: 100%;
		height: 3px;
		display: block;
		background-color: #ffff;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

.mobile__logo {}

.mobile__acc {}

.mobile__input__box {
	background-color: #EEEEEE;
	width: 100%;
	padding: 10px;
}

.mobile__input {
	width: 100%;
	margin: 0px auto;
	height: 30px;
	display: block;
	border: 1px solid #D3D3D3;
	border-radius: 3px;

	&::placeholder {
		font-size: 14px;
		line-height: 1.2;
	}
}

.mobile__nav {
	position: relative;
}

.mobile__list {}

.mobile__item {}

.mobile__link {
	font-size: 16px;
	line-height: 1.2;
	color: white;
	padding-left: 10px;
	border-bottom: 1px solid #3D3D3D;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
}

.drop--style {
	display: flex;
	justify-content: space-between;

	&::after {
		content: "";
		display: block;
		background: url(../img/mobile-menu/arrow-mobile.svg) no-repeat center;
		width: 14px;
		height: 14px;
		margin-right: 20px;
	}
}

.mobile__list--dropdown {
	position: absolute;
	top: 0px;
	right: auto;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: black;
	display: none;
}

.mobile-back {}

.mobile-back__link_style {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #3D3D3D;

	&::before {
		content: "";
		display: block;
		background: url(../img/mobile-menu/arrow-mobile.svg) no-repeat center;
		width: 14px;
		height: 14px;
		transform: rotate(180deg);
		margin-right: 10px;
	}

	font-size: 18px;
	color: #E8AA31;
}

.dropdown-submenu__list-item {
	border-bottom: 1px solid #3D3D3D;
	padding-top: 20px;
	padding-bottom: 20px;

	a {
		font-size: 16px;
		line-height: 1.2;
		color: white;
		padding-left: 10px;
	}
}

.drop-dropdown__link {
	font-size: 16px;
	line-height: 1.2;
	color: white;
	padding-left: 10px;
}

.back {
	font-size: 18px;
	color: #E8AA31;
}

.mobile__list {}

.mobile__list--drop-dropdown {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 100%;
	transition: all 0.3s;
}

.drop-drop__link {}

.mobile-back__link {}

.drop-dropdown__link {
	font-size: 16px;
	line-height: 1.2;
	color: white;
	padding-left: 10px;
	border-bottom: 1px solid #3D3D3D;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
}

.drop-drop-back__link {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #3D3D3D;
	color: #3D3D3D;

	&::before {
		content: "";
		display: block;
		background: url(../img/mobile-menu/arrow-mobile.svg) no-repeat center;
		width: 14px;
		height: 14px;
		transform: rotate(180deg);
		margin-right: 10px;
	}
}

.open-mobile-menu {
	transform: translateX(0%);
	transition: all 0.3s;
}

.mobile__nav-tranformation {
	transform: translateX(-100%);
	transition: all 0.3s;
}

.dropdown-tranformation {
	display: block;
	transform: none;
	transition: all 0.3s ease;
}

.drop-dropdown-tranformation {
	left: 0%;
	transition: all 0.3s;
}

.dropdown-close {
	transform: translateX(-100%);
}

.drop-dropdown-open {}

.lock {
	overflow: hidden;
}

.back {
	a {
		color: #E8AA31;
		font-size: 18px;
	}
}