/*--FIRST-SECTION-----------------------*/

.main {}

.catalog {
	background-color: white;
}

.catalog__container {}

.container {}

.catalog__grid {
	width: 100%;
	padding-top: 100px;
	display: grid;
	column-gap: 28px;
	row-gap: 32px;
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.catalog__item {
	width: 385px;
	height: 195px;
	background: url(../img/catalog/catolog1.png) no-repeat center;
	background-size: 100% auto;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	padding: 28px 0px;
}

.catalog__item__one {
	background: url(../img/catalog/catalog2.png) no-repeat center;
	background-size: 100% auto;
}

.catalog__item__two {
	background: url(../img/catalog/catalog3.png) no-repeat center;
	background-size: 110% auto;
}

.catalog__item__three {
	background: url(../img/catalog/catalog4.png) no-repeat center;
	background-size: 110% auto;
}

.catalog__item__fhor {
	background: url(../img/catalog/catalog5.png) no-repeat;
	background-size: 100% auto;
}

.catalog__item__fight {
	background: url(../img/catalog/catalog6.png) no-repeat center;
	background-size: 110% auto;
}

.catalog__title {
	font-size: 18px;
	line-height: 1.47;
	font-family: Semibold;
	padding-left: 12px;
	max-width: 158px;
	cursor: pointer;

	&::after {
		content: "";
		display: block;
		width: 30%;
		height: 2px;
		background-color: #E8AA31;
	}

	&:hover {
		&::after {
			width: 98%;
			transition: all 0.5s ease;
		}
	}
}


.catalog__title__two {
	max-width: 273px;
}

.catalog__title__three {
	max-width: 276px;
}

.catalog__title__fhor {
	max-width: 225px;
}

.catalog__title__fight {
	max-width: 245px;
}

.catalog__title__six {
	max-width: 218px;
}

.catalog__menu {
	margin-top: 25px;
}

.catalog__link {
	font-size: 16px;
	line-height: 1.8;
	color: black;
	position: relative;
	padding-left: 31px;

	&::after {
		content: "";
		width: 6px;
		height: 6px;
		display: block;
		background: url(../img/catalog/orange-ball.svg) no-repeat center;
		position: absolute;
		top: 8px;
		left: 12px;
	}
}

/*--FIRST-SECTION-END----------------------*/

/*--SECTOND-SECTION--------------------*/

.slider__stock {
	margin-top: 120px;
}

.stock__title {
	font-size: 30px;
	line-height: 1.6;
	letter-spacing: 5%;
	color: #141414;
	font-family: Bold;
	display: flex;
	justify-content: space-between;
}

.stock__view__all {
	font-size: 18px;
	line-height: 2;
	font-family: Semibold;
	color: #1414146e;
	position: relative;
	margin-right: 20px;

	&::after {
		content: "";
		display: block;
		width: 9.58px;
		height: 15.8px;
		background: url(../img/icon/gold-arrow.svg) no-repeat center;
		position: absolute;
		top: 20%;
		left: 110%;
	}
}

.stock__box {
	width: 100%;
	overflow: hidden;
}

.stock__line {
	display: flex;
	transition: all 0.5s ease;
}

.slider__items {
	display: flex;
	width: 100%;
	height: 100%;
}

.stock__item {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	padding: 20px;

	&:not(:first-child) {
		margin-left: 20px;
	}
}

.stock__img {
	max-width: 250px;
	height: 240px;

	img {
		max-width: 250px;
		height: 240px;
	}
}

.knife__title {
	font-size: 20px;
	line-height: 1.4;
	font-family: Semibold;
	color: #141414;
	margin-top: 19px;
}

.stock__row__one {
	display: flex;
	justify-content: space-between;
}

.knife__size {
	font-size: 16px;
	line-height: 2;
	color: #ABABAB;
	font-family: Semibold;
}

.knife__options {
	font-size: 16px;
	line-height: 2;
	color: #ABABAB;
	font-family: Semibold;
}

.stock__row__two {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding-bottom: 25px;
	border-bottom: 1px solid #14141471;
}

.knife__star {
	display: flex;
	justify-content: space-between;
	width: 150px;
}

.knife__reviews {}

.stock__row__three {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.knife__price {
	font-size: 20px;
	line-height: 1.4;
	font-family: Semibold;
	color: #141414;
}

.knife__bag {
	display: flex;
	justify-content: space-between;
}

.comprasion {
	margin-right: 8px;
}

.heart_white {}

.knife_button_link {
	background-color: #E8AA31;
	padding: 4px;
	text-align: center;
	border-radius: 3px;
	margin-top: 28px;
	display: block;

	span {
		font-size: 18px;
		line-height: 2.5;
		color: white;
		position: relative;

		&::after {
			content: "";
			display: block;
			width: 20px;
			height: 17px;
			background: url(../img/icon/bag-button.svg);
			position: absolute;
			top: 3px;
			left: 110%;
		}
	}
}

.knife_button_link {}


.slider__next {}

.slider__prev {}

.slide__container {
	max-width: 300px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 60px;
}

.slide {
	width: 40px;
	height: 6px;
	border-radius: 2px;
	background-color: #898989;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease 0s;

	&::before {
		width: 12px;
		height: 12px;
		content: "";
		background-color: #E8AA31;
		border-radius: 50%;
		display: block;
		position: absolute;
		bottom: -3px;
		left: 0px;
		display: none;
	}
}

.new-style {
	background: #E8AA31;
	transition: all 0.3s ease 0s;

	&::before {
		display: block;
	}
}

/*--SECTION-TWO-END------------------*/

/*--SECTION-THIRD-----------------*/
.forest {
	background: url(../img/cover/forest.png) no-repeat center;
	background-size: 100% 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.forest__container {
	width: 90%;
	margin: 0px auto;
}

.container {}

.forest__row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.forest__text {}

.title__forest {
	margin-top: 10px;
	font-size: 30px;
	height: 1.3;
	font-family: Bold;
	color: white;
}

.forest__title {
	margin-top: 10px;
	font-size: 22px;
	height: 1.3;
	font-family: Semibold;
	letter-spacing: 5%;
	color: black;
}

.forest__desc {
	width: 336px;
	font-size: 18px;
	line-height: 1.5;
	color: white;
	opacity: 70%;
	margin-top: 20px;
}

.forest__link {
	font-size: 20px;
	line-height: 2.2;
	color: #E8AA31;
	font-family: Semibold;
	margin-top: 90px;
	position: relative;
	max-width: 220px;

	&::after {
		content: "";
		display: block;
		width: 9px;
		height: 17px;
		background: url(../img/icon/gold-arrow.svg) no-repeat center;
		position: absolute;
		top: 33%;
		left: 100%;
	}
}

.forest__box {
	width: 100%;
	overflow: hidden;
	display: flex;
}

.forest__line {
	display: flex;
	transition: all 0.5s ease;
}

.forest__items {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
}

.forest__item {
	background-color: white;
}

.forest__buttons {
	max-width: 300px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.forest__button {
	width: 40px;
	height: 6px;
	border-radius: 2px;
	background-color: #898989;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease 0s;

	&::before {
		width: 12px;
		height: 12px;
		content: "";
		background-color: #E8AA31;
		border-radius: 50%;
		display: block;
		position: absolute;
		bottom: -3px;
		left: 0px;
		display: none;
	}
}

.new-style-forest {
	background: #E8AA31;
	transition: all 0.3s ease 0s;

	&::before {
		display: block;
	}
}

.forest__button_one {}

.forest__button_two {}

.forest__button_three {}

.forest__button_fhor {}

/*--SECTION-THIRD-END----------------*/
.hite__slide__container {
	max-width: 300px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 60px;
}

.hite {
	width: 40px;
	height: 6px;
	border-radius: 2px;
	background-color: #898989;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease 0s;

	&::before {
		width: 12px;
		height: 12px;
		content: "";
		background-color: #E8AA31;
		border-radius: 50%;
		display: block;
		position: absolute;
		bottom: -3px;
		left: 0px;
		display: none;
	}
}

.hite__one {}

.hite-new-style {
	background: #E8AA31;
	transition: all 0.3s ease 0s;

	&::before {
		display: block;
	}
}

.hite__two {}

.hite__three {}

.hite__four {}

.hite__fight {}

/*--SECTION-FOUR----------------*/