.lamp__container {
  margin-top: 80px;
}

.lamp__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lamp__item {
  background-size: 100% 100%;
  background-color: #FEFEFE;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
}

.lamp__box {
  padding: 10px 20px;
}

.lamp__img__adp {
  display: none;
  background: url(../img/lamp/adaptive01.png);
}

.lamp__img {
  width: 250px;
  height: 200px;
}

.lamp__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lamp__item__two {
  background-size: 100% 100%;
  background-color: #FEFEFE;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.hidden__lamp__item {
  display: none;
}

.lamp__title {
  margin: 0px;
  padding: 0px;
  max-width: 210px;
}

.hidden__lamp__title {
  padding-top: 15px;
}

.lamp__text {
  margin-top: 25px;
  max-width: 250px;
}

.lamp__button {
  background-color: #E8AA31;
  display: block;
  max-width: 200px;
  text-align: center;
  padding: 10px 0px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
          box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  margin-top: 20px;
}

.lamp__button span {
  color: white;
  font-family: Semibold;
}

.lamp__container {
  padding: 0px;
}

.lamp__product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lamp__product__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
