.popup {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3 ease;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0px;
	z-index: 5;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.892);
}

.popup__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.popup__box {
	max-width: 1000px;
	height: 800px;
	overflow: hidden;
}

.popup__line {
	display: flex;
	height: 100%;
}

.popup__item {
	&:not(:first-child) {
		margin-left: 15px;
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.popup__prev {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 45%;
	left: 0px;
	background: url(../../catalog/img/sort/golden-arrow.svg) no-repeat center;
	transform: rotate(-90deg);
	background-size: 100%;
}

.img_prev {
	width: 100%;
	height: 100%;
	transform: rotate(-90deg);
}

.popup__next {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 45%;
	right: 0px;
	background: url(../../catalog/img/sort/golden-arrow.svg) no-repeat center;
	transform: rotate(90deg);
	background-size: 100%;
}

.img_next {
	width: 100%;
	height: 100%;
	transform: rotate(90deg);
}

.popup__close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	padding: 20px;
	background: url(../../catalog/img/sort/close.svg) no-repeat center;
	background-size: 80%;
}

.images__cover__item {}

//js class

.open-popup {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease;
}

.lock-body {
	overflow: hidden;
}