@media(min-width:1024px) {
	.about__button_adp {
		display: none;
	}
}

@media(max-width:1024px) {
	.main__row {
		display: flex;
		flex-direction: column;
		margin: 0px auto;
	}

	.main__images {
		width: 70%;
		margin: 0px auto;
	}


	.about__button_adp {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		background-color: black;
		border-radius: 5px;
		margin: 0px auto;
		margin-bottom: 20px;
	}

	.about__button_adp_text {
		color: white;
		font-size: 16px;
		font-family: 'Semibold';
	}

	.about__button_images {
		margin-left: 25px;
		transition: all 0.3s linear;
	}

	.about__disc_box {
		display: none;
	}

	.about__select {
		display: none;
	}

	.images__cover {
		overflow: hidden;
		height: 400px;
		object-fit: cover;
	}

	.slider__text_item {
		font-size: 14px;
		line-height: 1.5;
	}

	.text__content_title {
		font-size: 14px;
	}

	.text__content_name {
		li {
			font-size: 14px;
		}
	}

	.text__content_number {
		li {
			font-size: 14px;
		}
	}
}

@media(max-width:920px) {
	.slider__text__content {
		display: flex;
		flex-direction: column;
	}

	.slider__text_item_two {
		max-height: 100%;
	}

	.text__content_row-list_two {
		text-align: center;
	}

	.text__content_title {}

	.text__content_one {
		padding-bottom: 15px;
		padding-top: 15px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.308);
	}
}

@media(max-width:800px) {
	.main__images {
		width: 90%;
		margin: 0px auto;
	}

	.slider__text_buttons {
		flex-direction: column;
	}

	.slider__text_item_one {
		max-height: 100%;
	}
}

@media(min-width:600px) {
	.images__cover_line {
		display: none;
	}
}

@media(max-width:600px) {
	.main__images {
		width: 100%;
		margin: 0px auto;
	}

	.main__container {
		padding: 0px;
	}

	.images__add {
		display: none;
	}

	.images__cover_desktop {
		display: none;
	}

	.images__cover_line {
		display: flex;
		transition: all 0.3s linear;
	}

	.images__cover__item {

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.adp__buttons_slider {
		width: 120px;
		height: 10px;
		display: flex;
		justify-content: space-between;
		margin: 0px auto;
		margin-top: -35px;
		position: relative;
	}

	.adp__button_slider {
		width: 10px;
		height: 100%;
		background-color: black;
		border-radius: 50%;
	}

	.bag__finish_buy {
		display: flex;
		flex-direction: column;
	}

	.buy_onte_click {
		margin-top: 10px;
	}
}

//js class
.show-hiden-select {
	display: flex;
}

.rotate-arrow-adp {
	transform: rotate(90deg);
	transition: all 0.3s linear;
}

.new-style-button {
	background-color: #E8AA31;
}