.in_the_bag {
	background-color: #E8AA31;
	color: white;
	padding: 8px 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin-top: -3px;
	cursor: pointer;
	border: none;
}

.in_the_bag:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.disabled-false:disabled {
	opacity: 1;
	pointer-events: auto;
}

.in_the_bag:hover {
	background-color: #ba8a2c;
}

.bag__content_list {
	max-height: 400px;
	overflow: auto;
}

.bag__icon {
	position: relative;
}

.bag__icon {}

.bag__tex {
	position: relative;
	width: 500px;
	text-align: center;
	font-family: "Bold";
	font-size: 18px;
}

.bag__box {

	display: flex;
	align-items: center;
	justify-content: center;
}

.bag__text {
	position: relative;
}

.bag__tex.active:hover {
	cursor: pointer;

}

.bag__tex.active:hover {
	.bag__content {
		opacity: 1;
		visibility: visible;
	}
}

.bag_quanity {
	background-color: darkred;
	position: absolute;
	top: -4px;
	left: -20px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	color: white;
}

.bag__content {
	width: 500px;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	top: 40px;
	left: 0px;
	z-index: 5;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.3s;
}


.bag__content_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.bag__content_item {
	background-color: white;
	padding: 3px;
	margin-bottom: 8px;
	flex: 0 1 49%;
	border: 1px solid rgb(219, 218, 218);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}



.bag__content_product {}

.bag__product_img {
	width: 220px;
	height: 210px;
}

.bag__porduct_text {
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bag__product_title {}

.bag__product_price {
	font-size: 20px;
	color: #E8AA31;
	font-family: "Semibold";
}

.bag__product_icon {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.bag__product_starts {
	display: flex;

	img {
		width: 18px;
		height: 18px;
		margin-right: 5px;
	}
}

.bag__product_delete {
	width: 25px;
	height: 25px;
}

.bag__content_bottom {
	margin-top: 10px;
}

.bag__content_fullprice {
	background-color: white;
	max-width: 200px;
	margin: 0px auto;
	border-radius: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	cursor: auto;
}

.fullprice {
	font-family: "Bold";
	color: black;
}


.bag__product_btn {
	border: none;
	width: 100%;
	background-color: black;
	color: white;
	padding: 12px;
	margin-top: 10px;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
}

.white__bag {
	span {
		color: black;
	}
}