.product__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px;
	margin-top: 40px;
	cursor: pointer;
}

.title {}

.slider_range_arrow {
	transition: all 0.3s ease;
}

.product__title_text {}

.product__title_icon {}

.product__title_arrow {
	transition: all 0.3s ease;
}

.checkbox__list {
	opacity: 0;
	display: none;
	transition: all 0.5s ease;
}

.checkbox__box {
	position: relative;
	margin-top: 20px;
}

#checkbox_1 {}

.input__none {
	appearance: none;
	position: absolute;
}

.checkbox__label {
	position: relative;
	margin-left: 25px;
	font-size: 14px;

	&::before {
		content: "";
		display: block;
		width: 18px;
		height: 18px;
		border-radius: 3px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		position: absolute;
		left: -25px;
		top: 0px;
	}

	span {
		color: #E8AA31;
	}
}

.input__none:checked+.checkbox__label:before {
	border: 1px solid #E8AA31;
	border-radius: 3px;
	background: url(../../catalog/img/sort/bg-input.svg) no-repeat;
	background-size: 13px 13px;
	background-position: center;

}

.rotate-checkbox-arrow {
	transform: rotate(180deg);
	transition: all 0.3s ease;
}

.show-checkbox-list {
	display: block;
	opacity: 1;
	transition: all 0.5s ease;
}

.title {
	font-size: 16px;
}

.steel__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px;
	margin-top: 10px;
}

.handle__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px;
	margin-top: 10px;
	cursor: pointer;
}

.stuff__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px;
	margin-top: 10px;
}

.gold__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px;
	margin-top: 10px;
}

.hide {
	animation-name: a1;
	animation-duration: 0s;
	animation-fill-mode: forwards;
	box-shadow: none;
	position: absolute;
}

@keyframes a1 {
	to {
		opacity: 0;
		min-height: 0;
		min-height: 0;
		padding: 0;
		margin: 0;
		padding: 0;
	}
}

.new-grid {
	grid-template-columns: repeat(auto-fit, 320px);
	grid-template-rows: repeat(auto-fit, 400px);
}

.footer__one__title {
	text-align: center;
}

.footer__one__desc {
	text-align: left;

	p {
		margin-bottom: 20px;
	}
}