.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.734);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 5;
	visibility: hidden;
	opacity: 0;
}

.modal__container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.order__modal {}

.modal__content {}

.order__modal_content {
	background-color: #ECF1F2;
	padding: 20px;
	border-radius: 5px;
	width: 50%;
}

.order__modal_top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.301);
}

.order__modal_title {}

.order__modal_number {}

.order__modal_info {
	margin-top: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.301);
}

.order__modal_quantity {}

.order__modal_info-item {
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'Semibold';
	display: flex;

	span {
		color: #E8AA31;
		font-family: 'Semibold';
		margin-left: 10px;
	}
}

.order__modal_form {
	margin-top: 20px;

	span {
		width: 200px;
	}
}

.order__modal_summ {}

.order__modal_products {
	display: flex;
	align-items: center;

	img {
		width: 15px;
		height: 15px;
		margin-left: 10px;
	}
}

.order__label {
	display: flex;
}

.order__text {}

.order__input {
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0.319);
	border-radius: 3px;
	width: 50%;
}



.order__button {
	border: none;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	font-size: 20px;
}

.order__modal__list {
	display: none;
	overflow: auto;
	max-height: 300px;
}

.show-order-product {
	display: block;
}

.order__modal_products {
	max-width: 200px;
	cursor: pointer;
}


.order__modal_item {
	border: 1px solid rgba(0, 0, 0, 0.313);
	padding: 10px;
	margin-bottom: 20px;


	img {
		width: 120px;
		height: 80px;
		border-radius: 3px;
		display: block;
		object-fit: cover;
	}
}

.order__modal_product {
	display: flex;
	align-items: center;
}

.order__modal_text {
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: auto;

	span {
		margin-top: 10px;
		font-size: 18px;
	}
}


.order__modal_title {}

.order__modal_price {}

.order__modal__delete {
	border: none;
	background-color: #ECF1F2;
	color: rgba(0, 0, 0, 0.712);
	margin-right: 0px;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: auto;
}

.arrow_order {
	transform: rotate(90deg);
	transition: all 0.3s ease;
}

//js 
.show-modal {
	visibility: visible;
	opacity: 1;
}

.rotate-arrow-order {
	transform: rotate(-90deg);
	transition: all 0.3s ease;
}


.main__form_error {
	color: darkred;
	font-family: "Bold";
}

.change-border {
	border: 1px solid darkred;

	&::placeholder {
		color: rgb(189, 63, 63);
	}
}